---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=bd-ojWyP0P4WT62B8YAX95txd6ByYc4ZFpKaLkW5t0g&filter=high&orientation=landscape&page=1&per_page=1&query=Denver,%20CO%20snowy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=bd-ojWyP0P4WT62B8YAX95txd6ByYc4ZFpKaLkW5t0g&filter=high&orientation=landscape&page=2377&per_page=1&query=Denver%2C+CO+snowy>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=bd-ojWyP0P4WT62B8YAX95txd6ByYc4ZFpKaLkW5t0g&filter=high&orientation=landscape&page=2&per_page=1&query=Denver%2C+CO+snowy>;
        rel="next"
      X-Total:
      - '2377'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2377,"total_pages":2377,"results":[{"id":"Ym5oKbreCCs","created_at":"2020-01-10T00:48:16-05:00","updated_at":"2020-05-14T01:26:58-04:00","promoted_at":null,"width":5964,"height":3976,"color":"#E0DFDD","description":"Rocky
        Mountain Rolling Plains","alt_description":"green field under blue sky","urls":{"raw":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2Njk4NX0","full":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2Njk4NX0","regular":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2Njk4NX0","small":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2Njk4NX0","thumb":"https://images.unsplash.com/photo-1578635073897-3807ceb9a88d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2Njk4NX0"},"links":{"self":"https://api.unsplash.com/photos/Ym5oKbreCCs","html":"https://unsplash.com/photos/Ym5oKbreCCs","download":"https://unsplash.com/photos/Ym5oKbreCCs/download","download_location":"https://api.unsplash.com/photos/Ym5oKbreCCs/download"},"categories":[],"likes":15,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"t2RB-3lbgSk","updated_at":"2020-08-19T22:05:22-04:00","username":"rdehamer","name":"Ryan
        De Hamer","first_name":"Ryan","last_name":"De Hamer","twitter_username":null,"portfolio_url":"http://www.dehamermedia.com","bio":"Midwest
        -> Anywhere\r\nMy images are collected all around the country working with
        brands, athletes and fitness influencers","location":null,"links":{"self":"https://api.unsplash.com/users/rdehamer","html":"https://unsplash.com/@rdehamer","photos":"https://api.unsplash.com/users/rdehamer/photos","likes":"https://api.unsplash.com/users/rdehamer/likes","portfolio":"https://api.unsplash.com/users/rdehamer/portfolio","following":"https://api.unsplash.com/users/rdehamer/following","followers":"https://api.unsplash.com/users/rdehamer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Ryan_dehamer","total_collections":6,"total_likes":0,"total_photos":65,"accepted_tos":true},"tags":[{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images & Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","created_at":"2018-10-15T04:58:20-04:00","updated_at":"2020-08-14T01:08:59-04:00","promoted_at":"2018-10-15T08:23:00-04:00","width":4640,"height":3480,"color":"#989EAF","description":"lost
        in the sky","alt_description":"star in space","urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjQzMzEwfQ","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&[...]
