---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=bd-ojWyP0P4WT62B8YAX95txd6ByYc4ZFpKaLkW5t0g&filter=high&orientation=landscape&page=1&per_page=1&query=Denver,%20CO%20outdoors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=bd-ojWyP0P4WT62B8YAX95txd6ByYc4ZFpKaLkW5t0g&filter=high&orientation=landscape&page=247093&per_page=1&query=Denver%2C+CO+outdoors>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=bd-ojWyP0P4WT62B8YAX95txd6ByYc4ZFpKaLkW5t0g&filter=high&orientation=landscape&page=2&per_page=1&query=Denver%2C+CO+outdoors>;
        rel="next"
      X-Total:
      - '247093'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":247093,"total_pages":247093,"results":[{"id":"r82eni3j0bI","created_at":"2020-09-06T12:05:36-04:00","updated_at":"2020-09-06T15:36:33-04:00","promoted_at":null,"width":4862,"height":3646,"color":"#5CC2FE","description":"Downtown
        Denver and Capitol Building","alt_description":"white and gold dome building","urls":{"raw":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE2Njk4NX0","full":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE2Njk4NX0","regular":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE2Njk4NX0","small":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE2Njk4NX0","thumb":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE2Njk4NX0"},"links":{"self":"https://api.unsplash.com/photos/r82eni3j0bI","html":"https://unsplash.com/photos/r82eni3j0bI","download":"https://unsplash.com/photos/r82eni3j0bI/download","download_location":"https://api.unsplash.com/photos/r82eni3j0bI/download"},"categories":[],"likes":3,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"iReUjmhpLcw","updated_at":"2020-09-07T00:00:56-04:00","username":"andrewcoop","name":"Andrew
        Coop","first_name":"Andrew","last_name":"Coop","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Aurora,
        CO, USA","links":{"self":"https://api.unsplash.com/users/andrewcoop","html":"https://unsplash.com/@andrewcoop","photos":"https://api.unsplash.com/users/andrewcoop/photos","likes":"https://api.unsplash.com/users/andrewcoop/likes","portfolio":"https://api.unsplash.com/users/andrewcoop/portfolio","following":"https://api.unsplash.com/users/andrewcoop/following","followers":"https://api.unsplash.com/users/andrewcoop/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1586541878358-3a9831bf2a38image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":null,"total_collections":0,"total_likes":2,"total_photos":16,"accepted_tos":true},"tags":[{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"HD
        City Wallpapers","subtitle":"Download Free City Wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","created_at":"2016-10-31T20:26:28-04:00","updated_at":"2020-08-28T01:07:07-04:00","promoted_at":"2016-10-31T20:26:28-04:00","width":3465,"height":2131,"color":"#F8E4D9","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ix[...]
